USE [master]
GO
/****** Object:  Database [MaestraVistaReporting]    Script Date: 2026-03-09 08:19:44 ******/
CREATE DATABASE [MaestraVistaReporting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MaestraVistaReporting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.THANHPHAT\MSSQL\DATA\MaestraVistaReporting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MaestraVistaReporting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.THANHPHAT\MSSQL\DATA\MaestraVistaReporting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MaestraVistaReporting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MaestraVistaReporting]
GO
/****** Object:  Table [dbo].[ReportingEntities]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingEntities](
	[RE_Id] [int] IDENTITY(1,1) NOT NULL,
	[RE_EntityKey] [nvarchar](100) NOT NULL,
	[RE_DisplayName] [nvarchar](200) NOT NULL,
	[RE_ViewName] [nvarchar](200) NOT NULL,
	[RE_MaxSelectableFields] [int] NOT NULL,
	[RE_MaxGroupByFields] [int] NOT NULL,
	[RE_IsActive] [bit] NOT NULL,
	[RE_CreatedAt] [datetime2](3) NOT NULL,
	[RE_EntityType] [nvarchar](20) NOT NULL,
	[RE_ViewType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ReportingEntities] PRIMARY KEY CLUSTERED 
(
	[RE_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingEntitySections]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingEntitySections](
	[RES_Id] [int] IDENTITY(1,1) NOT NULL,
	[RES_EntityId] [int] NOT NULL,
	[RES_SectionId] [int] NOT NULL,
	[RES_IsVisible] [bit] NULL,
	[RES_DisplayOrder] [int] NULL,
	[RES_CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RES_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingEntityVisibilityConfig]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingEntityVisibilityConfig](
	[REVC_Id] [int] IDENTITY(1,1) NOT NULL,
	[REVC_DataTypeId] [int] NOT NULL,
	[REVC_EntityId] [int] NOT NULL,
	[REVC_IsVisible] [bit] NOT NULL,
	[REVC_CreatedAt] [datetime2](7) NOT NULL,
	[REVC_Section] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REVC_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingFieldFunctions]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingFieldFunctions](
	[RFF_Id] [int] IDENTITY(1,1) NOT NULL,
	[RFF_FieldId] [int] NOT NULL,
	[RFF_FunctionId] [int] NOT NULL,
	[RFF_IsDefault] [bit] NULL,
	[RFF_IsActive] [bit] NULL,
	[RFF_CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RFF_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingFields]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingFields](
	[RF_Id] [int] IDENTITY(1,1) NOT NULL,
	[RF_EntityId] [int] NOT NULL,
	[RF_FieldKey] [nvarchar](150) NOT NULL,
	[RF_DisplayName] [nvarchar](200) NOT NULL,
	[RF_DataType] [nvarchar](50) NOT NULL,
	[RF_IsFilterable] [bit] NOT NULL,
	[RF_IsGroupable] [bit] NOT NULL,
	[RF_IsSortable] [bit] NOT NULL,
	[RF_IsAggregatable] [bit] NOT NULL,
	[RF_IsSensitive] [bit] NOT NULL,
	[RF_IsActive] [bit] NOT NULL,
	[RF_CreatedAt] [datetime2](3) NOT NULL,
	[RF_FieldRole] [nvarchar](20) NOT NULL,
	[RF_IsMeasure] [bit] NOT NULL,
 CONSTRAINT [PK_ReportingFields] PRIMARY KEY CLUSTERED 
(
	[RF_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingFunctions]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingFunctions](
	[RFN_Id] [int] IDENTITY(1,1) NOT NULL,
	[RFN_FunctionKey] [nvarchar](50) NOT NULL,
	[RFN_DisplayName] [nvarchar](100) NOT NULL,
	[RFN_IsActive] [bit] NOT NULL,
	[RFN_CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ReportingFunctions] PRIMARY KEY CLUSTERED 
(
	[RFN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingRelationships]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingRelationships](
	[RR_Id] [int] IDENTITY(1,1) NOT NULL,
	[RR_ParentEntityId] [int] NOT NULL,
	[RR_ChildEntityId] [int] NOT NULL,
	[RR_JoinCondition] [nvarchar](1000) NOT NULL,
	[RR_JoinType] [nvarchar](20) NOT NULL,
	[RR_MaxJoinDepth] [int] NOT NULL,
	[RR_IsActive] [bit] NOT NULL,
	[RR_CreatedAt] [datetime2](3) NOT NULL,
	[RR_Cardinality] [nvarchar](10) NULL,
	[RR_Direction] [nvarchar](10) NULL,
	[RR_HopWeight] [int] NULL,
	[RR_FilterPropagation] [bit] NULL,
	[RR_IsRequired] [bit] NULL,
 CONSTRAINT [PK_ReportingRelationships] PRIMARY KEY CLUSTERED 
(
	[RR_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportingSections]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportingSections](
	[RS_Id] [int] IDENTITY(1,1) NOT NULL,
	[RS_SectionKey] [nvarchar](50) NOT NULL,
	[RS_DisplayName] [nvarchar](100) NOT NULL,
	[RS_DisplayOrder] [int] NOT NULL,
	[RS_IsActive] [bit] NOT NULL,
	[RS_CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vw_DataType]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vw_DataType](
	[DataTypeId] [int] IDENTITY(1,1) NOT NULL,
	[DataTypeCode] [nvarchar](50) NOT NULL,
	[DataTypeName] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DataTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vw_Participant]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vw_Participant](
	[ParticipantId] [int] IDENTITY(1,1) NOT NULL,
	[ParticipantNumber] [nvarchar](50) NOT NULL,
	[StudyId] [int] NOT NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[EnrollmentDate] [date] NOT NULL,
	[RandomizationGroup] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DiscontinuationReason] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vw_Site]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vw_Site](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[SiteCode] [nvarchar](50) NOT NULL,
	[SiteName] [nvarchar](300) NOT NULL,
	[StudyId] [int] NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[InvestigatorName] [nvarchar](200) NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TargetEnrollment] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vw_Sponsor]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vw_Sponsor](
	[SponsorId] [int] IDENTITY(1,1) NOT NULL,
	[SponsorCode] [nvarchar](50) NOT NULL,
	[SponsorName] [nvarchar](200) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vw_Study]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vw_Study](
	[StudyId] [int] IDENTITY(1,1) NOT NULL,
	[StudyCode] [nvarchar](50) NOT NULL,
	[StudyName] [nvarchar](300) NOT NULL,
	[SponsorId] [int] NOT NULL,
	[TherapeuticAreaId] [int] NOT NULL,
	[DataTypeId] [int] NOT NULL,
	[Phase] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TargetEnrollment] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vw_TherapeuticArea]    Script Date: 2026-03-09 08:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vw_TherapeuticArea](
	[TherapeuticAreaId] [int] IDENTITY(1,1) NOT NULL,
	[TherapeuticAreaCode] [nvarchar](50) NOT NULL,
	[TherapeuticAreaName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TherapeuticAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ReportingEntities] ON 

INSERT [dbo].[ReportingEntities] ([RE_Id], [RE_EntityKey], [RE_DisplayName], [RE_ViewName], [RE_MaxSelectableFields], [RE_MaxGroupByFields], [RE_IsActive], [RE_CreatedAt], [RE_EntityType], [RE_ViewType]) VALUES (1, N'datatype', N'Data Type', N'vw_DataType', 50, 5, 1, CAST(N'2026-03-07T16:30:25.5310000' AS DateTime2), N'DIMENSION', N'BASE')
INSERT [dbo].[ReportingEntities] ([RE_Id], [RE_EntityKey], [RE_DisplayName], [RE_ViewName], [RE_MaxSelectableFields], [RE_MaxGroupByFields], [RE_IsActive], [RE_CreatedAt], [RE_EntityType], [RE_ViewType]) VALUES (2, N'sponsor', N'Sponsor', N'vw_Sponsor', 50, 5, 1, CAST(N'2026-03-07T16:30:25.5310000' AS DateTime2), N'DIMENSION', N'BASE')
INSERT [dbo].[ReportingEntities] ([RE_Id], [RE_EntityKey], [RE_DisplayName], [RE_ViewName], [RE_MaxSelectableFields], [RE_MaxGroupByFields], [RE_IsActive], [RE_CreatedAt], [RE_EntityType], [RE_ViewType]) VALUES (3, N'therapeutic_area', N'Therapeutic Area', N'vw_TherapeuticArea', 50, 5, 1, CAST(N'2026-03-07T16:30:25.5310000' AS DateTime2), N'DIMENSION', N'BASE')
SET IDENTITY_INSERT [dbo].[ReportingEntities] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportingEntitySections] ON 

INSERT [dbo].[ReportingEntitySections] ([RES_Id], [RES_EntityId], [RES_SectionId], [RES_IsVisible], [RES_DisplayOrder], [RES_CreatedAt]) VALUES (1, 6, 1, 1, 0, CAST(N'2026-03-07T16:30:34.8461537' AS DateTime2))
INSERT [dbo].[ReportingEntitySections] ([RES_Id], [RES_EntityId], [RES_SectionId], [RES_IsVisible], [RES_DisplayOrder], [RES_CreatedAt]) VALUES (2, 5, 1, 1, 0, CAST(N'2026-03-07T16:30:34.8461537' AS DateTime2))
INSERT [dbo].[ReportingEntitySections] ([RES_Id], [RES_EntityId], [RES_SectionId], [RES_IsVisible], [RES_DisplayOrder], [RES_CreatedAt]) VALUES (3, 4, 1, 1, 0, CAST(N'2026-03-07T16:30:34.8461537' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReportingEntitySections] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportingEntityVisibilityConfig] ON 

INSERT [dbo].[ReportingEntityVisibilityConfig] ([REVC_Id], [REVC_DataTypeId], [REVC_EntityId], [REVC_IsVisible], [REVC_CreatedAt], [REVC_Section]) VALUES (1, 1, 6, 1, CAST(N'2026-03-07T16:30:46.7043444' AS DateTime2), N'REPORT_BODY')
INSERT [dbo].[ReportingEntityVisibilityConfig] ([REVC_Id], [REVC_DataTypeId], [REVC_EntityId], [REVC_IsVisible], [REVC_CreatedAt], [REVC_Section]) VALUES (2, 1, 5, 1, CAST(N'2026-03-07T16:30:46.7043444' AS DateTime2), N'REPORT_BODY')
INSERT [dbo].[ReportingEntityVisibilityConfig] ([REVC_Id], [REVC_DataTypeId], [REVC_EntityId], [REVC_IsVisible], [REVC_CreatedAt], [REVC_Section]) VALUES (3, 1, 2, 1, CAST(N'2026-03-07T16:30:46.7043444' AS DateTime2), N'REPORT_BODY')
SET IDENTITY_INSERT [dbo].[ReportingEntityVisibilityConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportingFieldFunctions] ON 

INSERT [dbo].[ReportingFieldFunctions] ([RFF_Id], [RFF_FieldId], [RFF_FunctionId], [RFF_IsDefault], [RFF_IsActive], [RFF_CreatedAt]) VALUES (1, 17, 1, 0, 1, CAST(N'2026-03-07T17:33:40.4270884' AS DateTime2))
INSERT [dbo].[ReportingFieldFunctions] ([RFF_Id], [RFF_FieldId], [RFF_FunctionId], [RFF_IsDefault], [RFF_IsActive], [RFF_CreatedAt]) VALUES (2, 6, 1, 0, 1, CAST(N'2026-03-07T17:33:40.4270884' AS DateTime2))
INSERT [dbo].[ReportingFieldFunctions] ([RFF_Id], [RFF_FieldId], [RFF_FunctionId], [RFF_IsDefault], [RFF_IsActive], [RFF_CreatedAt]) VALUES (3, 12, 1, 0, 1, CAST(N'2026-03-07T17:33:40.4270884' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReportingFieldFunctions] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportingFields] ON 

INSERT [dbo].[ReportingFields] ([RF_Id], [RF_EntityId], [RF_FieldKey], [RF_DisplayName], [RF_DataType], [RF_IsFilterable], [RF_IsGroupable], [RF_IsSortable], [RF_IsAggregatable], [RF_IsSensitive], [RF_IsActive], [RF_CreatedAt], [RF_FieldRole], [RF_IsMeasure]) VALUES (1, 4, N'StudyCode', N'Study Code', N'nvarchar', 1, 1, 1, 0, 0, 1, CAST(N'2026-03-07T17:33:35.2120000' AS DateTime2), N'ATTRIBUTE', 0)
INSERT [dbo].[ReportingFields] ([RF_Id], [RF_EntityId], [RF_FieldKey], [RF_DisplayName], [RF_DataType], [RF_IsFilterable], [RF_IsGroupable], [RF_IsSortable], [RF_IsAggregatable], [RF_IsSensitive], [RF_IsActive], [RF_CreatedAt], [RF_FieldRole], [RF_IsMeasure]) VALUES (2, 4, N'StudyName', N'Study Name', N'nvarchar', 1, 1, 1, 0, 0, 1, CAST(N'2026-03-07T17:33:35.2130000' AS DateTime2), N'ATTRIBUTE', 0)
INSERT [dbo].[ReportingFields] ([RF_Id], [RF_EntityId], [RF_FieldKey], [RF_DisplayName], [RF_DataType], [RF_IsFilterable], [RF_IsGroupable], [RF_IsSortable], [RF_IsAggregatable], [RF_IsSensitive], [RF_IsActive], [RF_CreatedAt], [RF_FieldRole], [RF_IsMeasure]) VALUES (3, 4, N'Phase', N'Phase', N'nvarchar', 1, 1, 1, 0, 0, 1, CAST(N'2026-03-07T17:33:35.2130000' AS DateTime2), N'ATTRIBUTE', 0)
SET IDENTITY_INSERT [dbo].[ReportingFields] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportingFunctions] ON 

INSERT [dbo].[ReportingFunctions] ([RFN_Id], [RFN_FunctionKey], [RFN_DisplayName], [RFN_IsActive], [RFN_CreatedAt]) VALUES (1, N'COUNT', N'Count', 1, CAST(N'2026-03-07T16:29:49.9340000' AS DateTime2))
INSERT [dbo].[ReportingFunctions] ([RFN_Id], [RFN_FunctionKey], [RFN_DisplayName], [RFN_IsActive], [RFN_CreatedAt]) VALUES (2, N'SUM', N'Sum', 1, CAST(N'2026-03-07T16:29:49.9340000' AS DateTime2))
INSERT [dbo].[ReportingFunctions] ([RFN_Id], [RFN_FunctionKey], [RFN_DisplayName], [RFN_IsActive], [RFN_CreatedAt]) VALUES (3, N'AVG', N'Average', 1, CAST(N'2026-03-07T16:29:49.9340000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReportingFunctions] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportingRelationships] ON 

INSERT [dbo].[ReportingRelationships] ([RR_Id], [RR_ParentEntityId], [RR_ChildEntityId], [RR_JoinCondition], [RR_JoinType], [RR_MaxJoinDepth], [RR_IsActive], [RR_CreatedAt], [RR_Cardinality], [RR_Direction], [RR_HopWeight], [RR_FilterPropagation], [RR_IsRequired]) VALUES (1, 2, 4, N'vw_Sponsor.SponsorId = vw_Study.SponsorId', N'INNER', 1, 1, CAST(N'2026-03-07T16:30:29.2020000' AS DateTime2), N'1:N', N'FORWARD', 1, 1, 0)
INSERT [dbo].[ReportingRelationships] ([RR_Id], [RR_ParentEntityId], [RR_ChildEntityId], [RR_JoinCondition], [RR_JoinType], [RR_MaxJoinDepth], [RR_IsActive], [RR_CreatedAt], [RR_Cardinality], [RR_Direction], [RR_HopWeight], [RR_FilterPropagation], [RR_IsRequired]) VALUES (2, 3, 4, N'vw_TherapeuticArea.TherapeuticAreaId = vw_Study.TherapeuticAreaId', N'INNER', 1, 1, CAST(N'2026-03-07T16:30:29.2020000' AS DateTime2), N'1:N', N'FORWARD', 1, 1, 0)
INSERT [dbo].[ReportingRelationships] ([RR_Id], [RR_ParentEntityId], [RR_ChildEntityId], [RR_JoinCondition], [RR_JoinType], [RR_MaxJoinDepth], [RR_IsActive], [RR_CreatedAt], [RR_Cardinality], [RR_Direction], [RR_HopWeight], [RR_FilterPropagation], [RR_IsRequired]) VALUES (3, 4, 5, N'vw_Study.StudyId = vw_Site.StudyId', N'INNER', 1, 1, CAST(N'2026-03-07T16:30:29.2020000' AS DateTime2), N'1:N', N'FORWARD', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[ReportingRelationships] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportingSections] ON 

INSERT [dbo].[ReportingSections] ([RS_Id], [RS_SectionKey], [RS_DisplayName], [RS_DisplayOrder], [RS_IsActive], [RS_CreatedAt]) VALUES (1, N'FILTER', N'Filters', 1, 1, CAST(N'2026-03-07T16:29:44.8522758' AS DateTime2))
INSERT [dbo].[ReportingSections] ([RS_Id], [RS_SectionKey], [RS_DisplayName], [RS_DisplayOrder], [RS_IsActive], [RS_CreatedAt]) VALUES (2, N'SCOPE', N'Scope', 2, 1, CAST(N'2026-03-07T16:29:44.8522758' AS DateTime2))
INSERT [dbo].[ReportingSections] ([RS_Id], [RS_SectionKey], [RS_DisplayName], [RS_DisplayOrder], [RS_IsActive], [RS_CreatedAt]) VALUES (3, N'HEADER_FOOTER', N'Header & Footer', 3, 1, CAST(N'2026-03-07T16:29:44.8522758' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReportingSections] OFF
GO
SET IDENTITY_INSERT [dbo].[vw_DataType] ON 

INSERT [dbo].[vw_DataType] ([DataTypeId], [DataTypeCode], [DataTypeName], [Category], [Description], [IsActive], [CreatedAt]) VALUES (1, N'INTERVENTIONAL', N'Interventional', N'Clinical Trial', N'Prospective study with active treatment assigned by investigator', 1, CAST(N'2026-03-04T17:32:32.2084547' AS DateTime2))
INSERT [dbo].[vw_DataType] ([DataTypeId], [DataTypeCode], [DataTypeName], [Category], [Description], [IsActive], [CreatedAt]) VALUES (2, N'OBSERVATIONAL', N'Observational', N'Clinical Trial', N'Study observing patient outcomes without assigned intervention', 1, CAST(N'2026-03-04T17:32:32.2084547' AS DateTime2))
INSERT [dbo].[vw_DataType] ([DataTypeId], [DataTypeCode], [DataTypeName], [Category], [Description], [IsActive], [CreatedAt]) VALUES (3, N'REGISTRY', N'Patient Registry', N'Registry', N'Longitudinal real-world data collection outside a protocol', 1, CAST(N'2026-03-04T17:32:32.2084547' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vw_DataType] OFF
GO
SET IDENTITY_INSERT [dbo].[vw_Participant] ON 

INSERT [dbo].[vw_Participant] ([ParticipantId], [ParticipantNumber], [StudyId], [Gender], [DateOfBirth], [EnrollmentDate], [RandomizationGroup], [Status], [DiscontinuationReason], [IsActive], [CreatedAt]) VALUES (1, N'NVP301-001', 1, N'Male', CAST(N'1965-04-12' AS Date), CAST(N'2023-02-10' AS Date), N'NVP-101', N'Active', NULL, 1, CAST(N'2026-03-04T17:32:32.2298962' AS DateTime2))
INSERT [dbo].[vw_Participant] ([ParticipantId], [ParticipantNumber], [StudyId], [Gender], [DateOfBirth], [EnrollmentDate], [RandomizationGroup], [Status], [DiscontinuationReason], [IsActive], [CreatedAt]) VALUES (2, N'NVP301-002', 1, N'Female', CAST(N'1971-09-23' AS Date), CAST(N'2023-02-15' AS Date), N'Placebo', N'Active', NULL, 1, CAST(N'2026-03-04T17:32:32.2298962' AS DateTime2))
INSERT [dbo].[vw_Participant] ([ParticipantId], [ParticipantNumber], [StudyId], [Gender], [DateOfBirth], [EnrollmentDate], [RandomizationGroup], [Status], [DiscontinuationReason], [IsActive], [CreatedAt]) VALUES (3, N'NVP301-003', 1, N'Female', CAST(N'1958-12-01' AS Date), CAST(N'2023-03-20' AS Date), N'NVP-101', N'Completed', NULL, 1, CAST(N'2026-03-04T17:32:32.2298962' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vw_Participant] OFF
GO
SET IDENTITY_INSERT [dbo].[vw_Site] ON 

INSERT [dbo].[vw_Site] ([SiteId], [SiteCode], [SiteName], [StudyId], [Country], [City], [InvestigatorName], [ActivationDate], [Status], [TargetEnrollment], [IsActive], [CreatedAt]) VALUES (1, N'US-001', N'Memorial Cancer Center', 1, N'United States', N'New York', N'Dr. Sarah Johnson', CAST(N'2023-02-01' AS Date), N'Active', 80, 1, CAST(N'2026-03-04T17:32:32.2120908' AS DateTime2))
INSERT [dbo].[vw_Site] ([SiteId], [SiteCode], [SiteName], [StudyId], [Country], [City], [InvestigatorName], [ActivationDate], [Status], [TargetEnrollment], [IsActive], [CreatedAt]) VALUES (2, N'UK-001', N'Royal Oncology Institute', 1, N'United Kingdom', N'London', N'Prof. James Whitfield', CAST(N'2023-03-15' AS Date), N'Active', 60, 1, CAST(N'2026-03-04T17:32:32.2120908' AS DateTime2))
INSERT [dbo].[vw_Site] ([SiteId], [SiteCode], [SiteName], [StudyId], [Country], [City], [InvestigatorName], [ActivationDate], [Status], [TargetEnrollment], [IsActive], [CreatedAt]) VALUES (3, N'DE-001', N'Charité Comprehensive Cancer Center', 1, N'Germany', N'Berlin', N'Dr. Markus Brandt', CAST(N'2023-04-01' AS Date), N'Active', 80, 1, CAST(N'2026-03-04T17:32:32.2120908' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vw_Site] OFF
GO
SET IDENTITY_INSERT [dbo].[vw_Sponsor] ON 

INSERT [dbo].[vw_Sponsor] ([SponsorId], [SponsorCode], [SponsorName], [Country], [IsActive], [CreatedAt]) VALUES (1, N'NOVAPHARM', N'NovaPharm Therapeutics Inc.', N'United States', 1, CAST(N'2026-03-04T17:32:32.1961503' AS DateTime2))
INSERT [dbo].[vw_Sponsor] ([SponsorId], [SponsorCode], [SponsorName], [Country], [IsActive], [CreatedAt]) VALUES (2, N'EUROBIO', N'EuroBio Sciences GmbH', N'Germany', 1, CAST(N'2026-03-04T17:32:32.1961503' AS DateTime2))
INSERT [dbo].[vw_Sponsor] ([SponsorId], [SponsorCode], [SponsorName], [Country], [IsActive], [CreatedAt]) VALUES (3, N'ASIAMEDX', N'AsiaMedX Pte Ltd', N'Singapore', 1, CAST(N'2026-03-04T17:32:32.1961503' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vw_Sponsor] OFF
GO
SET IDENTITY_INSERT [dbo].[vw_Study] ON 

INSERT [dbo].[vw_Study] ([StudyId], [StudyCode], [StudyName], [SponsorId], [TherapeuticAreaId], [DataTypeId], [Phase], [StartDate], [EndDate], [Status], [TargetEnrollment], [IsActive], [CreatedAt]) VALUES (1, N'NVP-ONCO-301', N'A Phase III Randomized, Double-Blind, Placebo-Controlled Study of NVP-101 in Adults with Advanced Non-Small Cell Lung Cancer', 1, 1, 1, N'Phase III', CAST(N'2023-01-15' AS Date), NULL, N'Active', 300, 1, CAST(N'2026-03-04T17:32:32.2120908' AS DateTime2))
INSERT [dbo].[vw_Study] ([StudyId], [StudyCode], [StudyName], [SponsorId], [TherapeuticAreaId], [DataTypeId], [Phase], [StartDate], [EndDate], [Status], [TargetEnrollment], [IsActive], [CreatedAt]) VALUES (2, N'EBS-CARDIO-201', N'A Phase II Double-Blind, Dose-Ranging Study of EBS-202 in Patients with Heart Failure with Reduced Ejection Fraction (HFrEF)', 2, 2, 1, N'Phase II', CAST(N'2022-06-01' AS Date), CAST(N'2025-06-30' AS Date), N'Active', 150, 1, CAST(N'2026-03-04T17:32:32.2120908' AS DateTime2))
INSERT [dbo].[vw_Study] ([StudyId], [StudyCode], [StudyName], [SponsorId], [TherapeuticAreaId], [DataTypeId], [Phase], [StartDate], [EndDate], [Status], [TargetEnrollment], [IsActive], [CreatedAt]) VALUES (3, N'AMX-NEURO-401', N'A Phase IV Post-Marketing Observational Registry of AMX-401 in Patients Diagnosed with Early-Onset Alzheimer Disease', 3, 3, 3, N'Phase IV', CAST(N'2021-03-10' AS Date), NULL, N'Active', 500, 1, CAST(N'2026-03-04T17:32:32.2120908' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vw_Study] OFF
GO
SET IDENTITY_INSERT [dbo].[vw_TherapeuticArea] ON 

INSERT [dbo].[vw_TherapeuticArea] ([TherapeuticAreaId], [TherapeuticAreaCode], [TherapeuticAreaName], [Description], [IsActive], [CreatedAt]) VALUES (1, N'ONCO', N'Oncology', N'Cancer treatment, immunotherapy and targeted therapy studies', 1, CAST(N'2026-03-04T17:32:32.2084547' AS DateTime2))
INSERT [dbo].[vw_TherapeuticArea] ([TherapeuticAreaId], [TherapeuticAreaCode], [TherapeuticAreaName], [Description], [IsActive], [CreatedAt]) VALUES (2, N'CARDIO', N'Cardiology', N'Cardiovascular disease, heart failure and arrhythmia studies', 1, CAST(N'2026-03-04T17:32:32.2084547' AS DateTime2))
INSERT [dbo].[vw_TherapeuticArea] ([TherapeuticAreaId], [TherapeuticAreaCode], [TherapeuticAreaName], [Description], [IsActive], [CreatedAt]) VALUES (3, N'NEURO', N'Neurology', N'Alzheimer, Parkinson, epilepsy, and multiple sclerosis studies', 1, CAST(N'2026-03-04T17:32:32.2084547' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vw_TherapeuticArea] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReportingEntities_EntityKey]    Script Date: 2026-03-09 08:19:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReportingEntities_EntityKey] ON [dbo].[ReportingEntities]
(
	[RE_EntityKey] ASC
)
INCLUDE([RE_Id],[RE_ViewName]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RES_Entity_Section]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[ReportingEntitySections] ADD  CONSTRAINT [UQ_RES_Entity_Section] UNIQUE NONCLUSTERED 
(
	[RES_EntityId] ASC,
	[RES_SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RFF_Field_Function]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[ReportingFieldFunctions] ADD  CONSTRAINT [UQ_RFF_Field_Function] UNIQUE NONCLUSTERED 
(
	[RFF_FieldId] ASC,
	[RFF_FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ReportingFields_Entity_FieldKey]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[ReportingFields] ADD  CONSTRAINT [UQ_ReportingFields_Entity_FieldKey] UNIQUE NONCLUSTERED 
(
	[RF_EntityId] ASC,
	[RF_FieldKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingFields_Entity_Active]    Script Date: 2026-03-09 08:19:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFields_Entity_Active] ON [dbo].[ReportingFields]
(
	[RF_EntityId] ASC,
	[RF_IsActive] ASC
)
INCLUDE([RF_FieldKey],[RF_DataType],[RF_IsFilterable],[RF_IsGroupable],[RF_IsSortable],[RF_IsAggregatable]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ReportingFunctions_Key]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[ReportingFunctions] ADD  CONSTRAINT [UQ_ReportingFunctions_Key] UNIQUE NONCLUSTERED 
(
	[RFN_FunctionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ReportingRelationships_Parent_Child]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[ReportingRelationships] ADD  CONSTRAINT [UQ_ReportingRelationships_Parent_Child] UNIQUE NONCLUSTERED 
(
	[RR_ParentEntityId] ASC,
	[RR_ChildEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingRelationships_Child]    Script Date: 2026-03-09 08:19:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReportingRelationships_Child] ON [dbo].[ReportingRelationships]
(
	[RR_ChildEntityId] ASC,
	[RR_IsActive] ASC
)
INCLUDE([RR_ParentEntityId],[RR_JoinType],[RR_JoinCondition]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingRelationships_Parent]    Script Date: 2026-03-09 08:19:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReportingRelationships_Parent] ON [dbo].[ReportingRelationships]
(
	[RR_ParentEntityId] ASC,
	[RR_IsActive] ASC
)
INCLUDE([RR_ChildEntityId],[RR_JoinType],[RR_JoinCondition]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ReportingSections_Key]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[ReportingSections] ADD  CONSTRAINT [UQ_ReportingSections_Key] UNIQUE NONCLUSTERED 
(
	[RS_SectionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vw_DataT__0D47474EA9B0D284]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[vw_DataType] ADD UNIQUE NONCLUSTERED 
(
	[DataTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Participant]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[vw_Participant] ADD  CONSTRAINT [UQ_Participant] UNIQUE NONCLUSTERED 
(
	[StudyId] ASC,
	[ParticipantNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Site_Study]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[vw_Site] ADD  CONSTRAINT [UQ_Site_Study] UNIQUE NONCLUSTERED 
(
	[StudyId] ASC,
	[SiteCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vw_Spons__ECCBBC78D1D111A6]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[vw_Sponsor] ADD UNIQUE NONCLUSTERED 
(
	[SponsorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vw_Study__E96441EA27905572]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[vw_Study] ADD UNIQUE NONCLUSTERED 
(
	[StudyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vw_Thera__854B1551AA3DF23A]    Script Date: 2026-03-09 08:19:45 ******/
ALTER TABLE [dbo].[vw_TherapeuticArea] ADD UNIQUE NONCLUSTERED 
(
	[TherapeuticAreaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportingEntities] ADD  DEFAULT ((50)) FOR [RE_MaxSelectableFields]
GO
ALTER TABLE [dbo].[ReportingEntities] ADD  DEFAULT ((5)) FOR [RE_MaxGroupByFields]
GO
ALTER TABLE [dbo].[ReportingEntities] ADD  DEFAULT ((1)) FOR [RE_IsActive]
GO
ALTER TABLE [dbo].[ReportingEntities] ADD  DEFAULT (sysdatetime()) FOR [RE_CreatedAt]
GO
ALTER TABLE [dbo].[ReportingEntities] ADD  DEFAULT ('DIMENSION') FOR [RE_EntityType]
GO
ALTER TABLE [dbo].[ReportingEntities] ADD  CONSTRAINT [DF_RE_ViewType]  DEFAULT ('BASE') FOR [RE_ViewType]
GO
ALTER TABLE [dbo].[ReportingEntitySections] ADD  DEFAULT ((1)) FOR [RES_IsVisible]
GO
ALTER TABLE [dbo].[ReportingEntitySections] ADD  DEFAULT ((0)) FOR [RES_DisplayOrder]
GO
ALTER TABLE [dbo].[ReportingEntitySections] ADD  DEFAULT (sysdatetime()) FOR [RES_CreatedAt]
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig] ADD  DEFAULT ((1)) FOR [REVC_IsVisible]
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig] ADD  DEFAULT (sysdatetime()) FOR [REVC_CreatedAt]
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig] ADD  CONSTRAINT [DF_REVC_Section]  DEFAULT ('REPORT_BODY') FOR [REVC_Section]
GO
ALTER TABLE [dbo].[ReportingFieldFunctions] ADD  DEFAULT ((0)) FOR [RFF_IsDefault]
GO
ALTER TABLE [dbo].[ReportingFieldFunctions] ADD  DEFAULT ((1)) FOR [RFF_IsActive]
GO
ALTER TABLE [dbo].[ReportingFieldFunctions] ADD  DEFAULT (sysdatetime()) FOR [RFF_CreatedAt]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT ((1)) FOR [RF_IsFilterable]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT ((1)) FOR [RF_IsGroupable]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT ((1)) FOR [RF_IsSortable]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT ((0)) FOR [RF_IsAggregatable]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT ((0)) FOR [RF_IsSensitive]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT ((1)) FOR [RF_IsActive]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT (sysdatetime()) FOR [RF_CreatedAt]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  DEFAULT ('ATTRIBUTE') FOR [RF_FieldRole]
GO
ALTER TABLE [dbo].[ReportingFields] ADD  CONSTRAINT [DF_RF_IsMeasure]  DEFAULT ((0)) FOR [RF_IsMeasure]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ('INNER') FOR [RR_JoinType]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ((1)) FOR [RR_MaxJoinDepth]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ((1)) FOR [RR_IsActive]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT (sysdatetime()) FOR [RR_CreatedAt]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ('1:N') FOR [RR_Cardinality]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ('FORWARD') FOR [RR_Direction]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ((1)) FOR [RR_HopWeight]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ((1)) FOR [RR_FilterPropagation]
GO
ALTER TABLE [dbo].[ReportingRelationships] ADD  DEFAULT ((0)) FOR [RR_IsRequired]
GO
ALTER TABLE [dbo].[ReportingSections] ADD  DEFAULT ((0)) FOR [RS_DisplayOrder]
GO
ALTER TABLE [dbo].[ReportingSections] ADD  DEFAULT ((1)) FOR [RS_IsActive]
GO
ALTER TABLE [dbo].[ReportingSections] ADD  DEFAULT (sysdatetime()) FOR [RS_CreatedAt]
GO
ALTER TABLE [dbo].[vw_DataType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[vw_DataType] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[vw_Participant] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[vw_Participant] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[vw_Site] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[vw_Site] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[vw_Sponsor] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[vw_Sponsor] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[vw_Study] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[vw_Study] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[vw_TherapeuticArea] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[vw_TherapeuticArea] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReportingEntitySections]  WITH NOCHECK ADD  CONSTRAINT [FK_RES_Entity] FOREIGN KEY([RES_EntityId])
REFERENCES [dbo].[ReportingEntities] ([RE_Id])
GO
ALTER TABLE [dbo].[ReportingEntitySections] CHECK CONSTRAINT [FK_RES_Entity]
GO
ALTER TABLE [dbo].[ReportingEntitySections]  WITH NOCHECK ADD  CONSTRAINT [FK_RES_Section] FOREIGN KEY([RES_SectionId])
REFERENCES [dbo].[ReportingSections] ([RS_Id])
GO
ALTER TABLE [dbo].[ReportingEntitySections] CHECK CONSTRAINT [FK_RES_Section]
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig]  WITH NOCHECK ADD  CONSTRAINT [FK_REVC_DataType] FOREIGN KEY([REVC_DataTypeId])
REFERENCES [dbo].[vw_DataType] ([DataTypeId])
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig] CHECK CONSTRAINT [FK_REVC_DataType]
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig]  WITH NOCHECK ADD  CONSTRAINT [FK_REVC_Entity] FOREIGN KEY([REVC_EntityId])
REFERENCES [dbo].[ReportingEntities] ([RE_Id])
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig] CHECK CONSTRAINT [FK_REVC_Entity]
GO
ALTER TABLE [dbo].[ReportingFieldFunctions]  WITH NOCHECK ADD  CONSTRAINT [FK_RFF_Field] FOREIGN KEY([RFF_FieldId])
REFERENCES [dbo].[ReportingFields] ([RF_Id])
GO
ALTER TABLE [dbo].[ReportingFieldFunctions] CHECK CONSTRAINT [FK_RFF_Field]
GO
ALTER TABLE [dbo].[ReportingFieldFunctions]  WITH NOCHECK ADD  CONSTRAINT [FK_RFF_Function] FOREIGN KEY([RFF_FunctionId])
REFERENCES [dbo].[ReportingFunctions] ([RFN_Id])
GO
ALTER TABLE [dbo].[ReportingFieldFunctions] CHECK CONSTRAINT [FK_RFF_Function]
GO
ALTER TABLE [dbo].[ReportingFields]  WITH NOCHECK ADD  CONSTRAINT [FK_ReportingFields_Entity] FOREIGN KEY([RF_EntityId])
REFERENCES [dbo].[ReportingEntities] ([RE_Id])
GO
ALTER TABLE [dbo].[ReportingFields] CHECK CONSTRAINT [FK_ReportingFields_Entity]
GO
ALTER TABLE [dbo].[ReportingRelationships]  WITH NOCHECK ADD  CONSTRAINT [FK_ReportingRelationships_Parent] FOREIGN KEY([RR_ParentEntityId])
REFERENCES [dbo].[ReportingEntities] ([RE_Id])
GO
ALTER TABLE [dbo].[ReportingRelationships] CHECK CONSTRAINT [FK_ReportingRelationships_Parent]
GO
ALTER TABLE [dbo].[vw_Participant]  WITH CHECK ADD  CONSTRAINT [FK_Participant_Study] FOREIGN KEY([StudyId])
REFERENCES [dbo].[vw_Study] ([StudyId])
GO
ALTER TABLE [dbo].[vw_Participant] CHECK CONSTRAINT [FK_Participant_Study]
GO
ALTER TABLE [dbo].[vw_Site]  WITH CHECK ADD  CONSTRAINT [FK_Site_Study] FOREIGN KEY([StudyId])
REFERENCES [dbo].[vw_Study] ([StudyId])
GO
ALTER TABLE [dbo].[vw_Site] CHECK CONSTRAINT [FK_Site_Study]
GO
ALTER TABLE [dbo].[vw_Study]  WITH CHECK ADD  CONSTRAINT [FK_Study_DataType] FOREIGN KEY([DataTypeId])
REFERENCES [dbo].[vw_DataType] ([DataTypeId])
GO
ALTER TABLE [dbo].[vw_Study] CHECK CONSTRAINT [FK_Study_DataType]
GO
ALTER TABLE [dbo].[vw_Study]  WITH CHECK ADD  CONSTRAINT [FK_Study_Sponsor] FOREIGN KEY([SponsorId])
REFERENCES [dbo].[vw_Sponsor] ([SponsorId])
GO
ALTER TABLE [dbo].[vw_Study] CHECK CONSTRAINT [FK_Study_Sponsor]
GO
ALTER TABLE [dbo].[vw_Study]  WITH CHECK ADD  CONSTRAINT [FK_Study_TherapeuticArea] FOREIGN KEY([TherapeuticAreaId])
REFERENCES [dbo].[vw_TherapeuticArea] ([TherapeuticAreaId])
GO
ALTER TABLE [dbo].[vw_Study] CHECK CONSTRAINT [FK_Study_TherapeuticArea]
GO
ALTER TABLE [dbo].[ReportingEntities]  WITH CHECK ADD  CONSTRAINT [CK_RE_ViewType] CHECK  (([RE_ViewType]='SUMMARY' OR [RE_ViewType]='BASE'))
GO
ALTER TABLE [dbo].[ReportingEntities] CHECK CONSTRAINT [CK_RE_ViewType]
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig]  WITH NOCHECK ADD  CONSTRAINT [CK_REVC_Section] CHECK  (([REVC_Section]='REPORT_BODY' OR [REVC_Section]='FILTER'))
GO
ALTER TABLE [dbo].[ReportingEntityVisibilityConfig] CHECK CONSTRAINT [CK_REVC_Section]
GO
ALTER TABLE [dbo].[ReportingRelationships]  WITH NOCHECK ADD  CONSTRAINT [CK_ReportingRelationships_JoinType] CHECK  (([RR_JoinType]='LEFT' OR [RR_JoinType]='INNER'))
GO
ALTER TABLE [dbo].[ReportingRelationships] CHECK CONSTRAINT [CK_ReportingRelationships_JoinType]
GO
ALTER TABLE [dbo].[ReportingRelationships]  WITH NOCHECK ADD  CONSTRAINT [CK_ReportingRelationships_NoSelfJoin] CHECK  (([RR_ParentEntityId]<>[RR_ChildEntityId]))
GO
ALTER TABLE [dbo].[ReportingRelationships] CHECK CONSTRAINT [CK_ReportingRelationships_NoSelfJoin]
GO
USE [master]
GO
